*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box ;
}
body
{
    display:flex ;
    background:#232a34;
}
.navb
{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: px;
    height: 100%;
    padding: px 0;
    overflow-y: scroll;
}
::-webkit-scrollbar
{
    width: 0px;
    height: 0px;
}
.navl ul li
{
    padding: 50px;
    font-size: 20px;
    font-family: sans-serif;
    list-style: none;
    background:#232a34; 
    border-bottom:1px solid #505865;
}
.navl ul li a
{
    display: block;
    text-decoration: none;
    color: #787f8b; 
}
 .navl ul li a .fa
{
    font-size:30px ;
    padding-left:10px;
}
.logo
{
    padding: 50px;
    color: honeydew;
    font-size: 50px;
    font-family:serif ;
    background:#2f3a47;
    text-align: center;
}
.clearfix
{
    clear: both;
}
@media  (max-width: 900px){
    .toggle
{
    position: absolute;
    top:2rem;
    left: 550px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle .active
{
    content: \f00d;
}
.toggle .bar
{
    height: 3px;
    width: 100%;
    background-color:white ;
    border-radius: 10px;
}
    .logo{
        text-align: left;
        padding:10px ;
        background:#232a34;
    }
}
/*@media (max-width: 900px) {
    .navl{
       display:none ;
       flex-direction: column;
       width: 100%;
    }
    .navl.active
    {
        display: block;
    }
    .navb{
        display: flex;
        flex-direction: column;
        width:100% ;
        overflow-y: scroll;

    }
    .navl ul{
        display: flex;
        flex-direction: column;
    }
    .navl ul li{
        text-align:center ;
        padding: 15px;
        background:#fff;
        border-bottom: 1px solid rgb(243, 232, 232);
        
    }
    .navl ul li a{
        color: rgb(82, 76, 76);
        font-weight: bolder;
        font-size: 15px;
        
    }
    .navl ul li a .fa
    {
        font-size: 0;
    }
    .navl ul li:hover{
        background: orange;
        color: white;
        transition: 0.5s;
    } 
}*/
.main
{
    display: flex;
    overflow-y: scroll;
    background:#232a34;
}
#sub-main
{
    background: white;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}
#about1
{
    display:flex;
    flex-direction: row;
}
#pic
{

    margin-bottom: 0px;
    
}
.img
{
    height: 100%;
    width: 400px;
}
#ab
{
    color: rgb(236, 229, 229);
    font-size: 100px;
    font-family:  "Gill Sans", sans-serif;

}
#in
{
    color: #2f3a47;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    padding-bottom: 30px;
}
#in1
{
    color:white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    padding-bottom: 30px;
}
#two
{
    color: grey;
    font-size: 17px;
    font-family:ui-sans-serif;
}
#sub-main div#home
{
    justify-content: center;
    background:url("payment-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
}
#home h2
{
    text-align: left;
    padding-left: 20%;  
}
span
{
    font-size: 15px;  
    font-weight: lighter;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#nam1
{
    margin-top: 10%;
    font-size: 60px;
    font-weight: 900;
    font-family: sans-serif;
    text-align: center;
}
.link ul
{
    padding-left:20%;
    padding-top: 40px;
}
.link ul li
{
    background:orange;
    list-style: none;
    width: 200px;
    padding:20px;
    font-family: sans-serif;
    
}
.link ul li a
{
    text-decoration:none ;'
    padding: 50px;
    color:white;
}
.link ul li a .fa
{
    padding-right: 10px;
    font-weight: 900;
    font-size: 25px;
}
.link4 ul li
{
    background:orange;
    list-style: none;
    width: 170px;
    padding:10px;
    margin-top: 50px;
    font-family: sans-serif;
    
}
.link4 ul li a
{
    text-decoration:none ;
    color:white;
}
.link4 ul li a .fa
{
    padding-right: 10px;
    font-weight: 900;
    font-size: 25px;
}
.linkS ul li
{
    background:orange;
    list-style: none;
   
    padding:25px;
    font-family: sans-serif;
    
}
.linkS ul li a
{
    padding-left: 50%;
    text-decoration:none ;
    color:white;
}
.linkS ul li a .fa
{
    padding-right: 10px;
    font-weight: 900;
    font-size: 25px;
}
#sub-main div#about
{
  
    margin: 100px;
    text-align: left;
    background: #fff;
    height: 100vh;
}
#about2
{
    background: rgb(233, 233, 238);
    display:flex;
    flex-direction: row;
}
#sub-main div#work
{
    margin: 100px;
    margin-right: px;
    text-align: left;
    height: 120vh;
}
.wor
{
    display: block;
    flex-direction: ;
    margin-top:40px;
    margin-bottom:40px;
    margin-right: 100px;
}
.worp
{
    width: 200px;
    height: 200px;
    padding: 10px;
}
#abw
{
    color: #fff;
    font-size: 100px;
    font-family:  "Gill Sans", sans-serif;
}
#about3
{
    background:  #0e1924;
    display:flex;
    flex-direction: row;
}
#sub-main div#Experience
{
    margin: 100px;
    display: ;
    justify-content: center;
    height: 150vh;
    width: 600px;
    margin-bottom: -18px;
}
.exp
{
    margin-top: 40px;
    margin-bottom: 40px;
}
#na
{
    color: #fff;
    font-family: sans-serif;
    border-bottom: 2px solid rgb(173, 117, 12);
    padding-bottom: 10px;
}
#ex
{
    color:gray;
    font-family: sans-serif;
    font-size: 13px;
    padding-top: 20px;
}
#about4
{
    background:white;
    display:flex;
    flex-direction: row;
}
#sub-main div#skill
{
    
    margin: 50px;
    display: ;
    justify-content: center;
    height: 150vh;
    padding-right:30px;
    padding-left: 30px;
}
#in2
{
    margin-bottom: 30px;
}
.per
{
    margin-bottom: 50px;
    margin-top: 50px;
}
.per .percent
{
    width: 100%;
    height: 10px;
    background:rgb(226, 216, 216);
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.per ul li
{
    list-style: none;
}
.per .percent div
{
    top: 0;
    left: 0;
    height: 100%;
    background:orange;
}
#about5
{
    background:  #0e1924;
    display:flex;
    flex-direction: row;
}
#sub-main div#student
{
    margin: 100px;
    justify-content: center;
    height: 160vh;
}
.std
{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.stdp
{
    width: 150px;
}
.stda
{
    padding: 20px;
    color: #fff;
    font-size: 22px;
}
#nam
{
    color:gray;
    padding: 5px;
    font-size: 20px;
}
#about6
{
    background: #fff;
    display:flex;
    flex-direction: row;
}
#sub-main div#contact
{
    margin: 100px;
    display: ;
    justify-content: center;
    height: 100vh;
}
.row
{
    margin-top: 30px;
}
textarea{
    width: 100%;
    padding: 12px;
    margin:20px 0;
    border:1px solid #CCC;
    text-align: left;
    
}
input[type="text"],
input[type="email"],

.footer
{
    background:#232a34;
    display: flex;
    flex-direction: row;
    text-align: right;
}
.footer ul
{
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: right; 
}
.footer ul li{
    padding: 10px;
    list-style: none; 
    text-align: right;
    
}
.footer ul li a{
    color: orange;
}
.footer ul li a .fa
{
    font-size: 25px;
}
.footer p
{
    color: #fff;
    font-family: sans-serif;
    margin: 30px
}
